<div class="pt-3">
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="table">
                <div *ngFor="let item of question; index as i">
                    <td>Câu: {{i+1}}: {{item.Text}}<br>
                        <div class="form-check px-4" *ngFor="let items of item.Answers">
                            <input (change)="select_answer(item.id, items.id)" id="anw_{{items.id}}"
                                class="form-check-input" type="radio" [name]="item.id" [value]="items.id">
                            <label for="anw_{{items.id}}" class="form-check-label">{{items.Text}}</label><br>
                        </div>
                    </td>
                </div>
                <div class="py-3">
                    <button (click)="SubmitEx()" class="btn btn-primary">Hoàn thành</button>
                </div>

            </div>
        </div>
    </div>
</div>