<div class="pt-3">
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="table">
                <div>
                    <td>Câu 1: 1 + 1 = ?<br>

                        <form method="get" action="" enctype="multipart/form-data">
                            <div class="form-check px-4">
                                <input id="my-input" class="form-check-input" type="checkbox" name="" value="true">
                                <label for="my-input" class="form-check-label">Text</label><br>
                                <input id="my-input" class="form-check-input" type="checkbox" name="" value="true">
                                <label for="my-input" class="form-check-label">Text</label><br>
                                <input id="my-input" class="form-check-input" type="checkbox" name="" value="true">
                                <label for="my-input" class="form-check-label">Text</label><br>
                                <input id="my-input" class="form-check-input" type="checkbox" name="" value="true">
                                <label for="my-input" class="form-check-label">Text</label>
                            </div>

                        </form>
                    </td>
                </div>

                <div>
                    <td>Câu 1: 1 + 1 = ?<br>

                        <form method="get" action="" enctype="multipart/form-data">
                            <div class="form-check px-4">
                                <input id="my-input" class="form-check-input" type="checkbox" name="" value="true">
                                <label for="my-input" class="form-check-label">Text</label><br>
                                <input id="my-input" class="form-check-input" type="checkbox" name="" value="true">
                                <label for="my-input" class="form-check-label">Text</label><br>
                                <input id="my-input" class="form-check-input" type="checkbox" name="" value="true">
                                <label for="my-input" class="form-check-label">Text</label><br>
                                <input id="my-input" class="form-check-input" type="checkbox" name="" value="true">
                                <label for="my-input" class="form-check-label">Text</label>
                            </div>

                        </form>
                    </td>
                </div>

                <div>
                    <td>Câu 1: 1 + 1 = ?<br>

                        <form method="get" action="" enctype="multipart/form-data">
                            <div class="form-check px-4">
                                <input id="my-input" class="form-check-input" type="checkbox" name="" value="true">
                                <label for="my-input" class="form-check-label">Text</label><br>
                                <input id="my-input" class="form-check-input" type="checkbox" name="" value="true">
                                <label for="my-input" class="form-check-label">Text</label><br>
                                <input id="my-input" class="form-check-input" type="checkbox" name="" value="true">
                                <label for="my-input" class="form-check-label">Text</label><br>
                                <input id="my-input" class="form-check-input" type="checkbox" name="" value="true">
                                <label for="my-input" class="form-check-label">Text</label>
                            </div>
                        </form>
                    </td>
                </div>

                <div class="py-3">
                    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
                        autocomplete="off">Hoàn
                        thành</button>
                </div>

            </div>
        </div>
    </div>
</div>