<a [routerLink]="'add'" class="btn btn-primary" routerLinkActive="router-link-active">Thêm</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên</th>
            <th scope="col">Email</th>
            <th scope="col">Avatar</th>
            <th scope="col">Tài khoản</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of list;index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td><img src="{{item.avatar}}" width="100"></td>
            <td *ngIf="item.roles == 1">Thành viên</td>
            <td *ngIf="item.roles == 2">Admin</td>
            <td><button class="btn btn-primary" (click)="edit(item.id)">Cập nhật</button>
            </td>
        </tr>

    </tbody>
</table>