<div class="row">
    <div class="col-6">
        <form [formGroup]="formSubject" (submit)="addSubject()">
            <div class="form-group">
                <label for=""></label>
                <input type="text" formControlName="Name" id="" class="form-control" placeholder=""
                    aria-describedby="helpId">
                <small id="helpId" class="text-muted">Tên môn học</small>
            </div>
            <div
                *ngIf="formSubject.controls['Name'].invalid &&(formSubject.controls['Name'].touched || formSubject.controls['Name'].dirty)">
                <span class="text-danger" *ngIf="formSubject.controls['Name'].errors?.['required']">
                    Hãy nhập tên môn học
                </span>
            </div>
            <div class="form-group">
                <label for=""></label>
                <input type="text" formControlName="Code" id="" class="form-control" placeholder=""
                    aria-describedby="helpId">
                <small id="helpId" class="text-muted">Mã môn học</small>
            </div>
            <div
                *ngIf="formSubject.controls['Code'].invalid &&(formSubject.controls['Code'].touched || formSubject.controls['Code'].dirty)">
                <span class="text-danger" *ngIf="formSubject.controls['Code'].errors?.['required']">
                    Hãy nhập Code
                </span>

            </div>
            <div class="form-group">
                <label for=""></label>
                <input type="file" formControlName="Logo" id="" class="form-control" placeholder=""
                    aria-describedby="helpId">
                <small id="helpId" class="text-muted">ảnh</small>
            </div>
            <div
                *ngIf="formSubject.controls['Logo'].invalid &&(formSubject.controls['Logo'].touched || formSubject.controls['Logo'].dirty)">
                <span class="text-danger" *ngIf="formSubject.controls['Logo'].errors?.['required']">
                    Hãy nhập ảnh
                </span>

            </div>
            <div class="form-group py-2">
                <button [disabled]="formSubject.invalid" class="btn btn-primary">Lưu</button>
            </div>
        </form>

    </div>
</div>