<div class="col-6 row-sm-3">
    <h4>Thêm câu hỏi</h4>
    <form [formGroup]="formQues">
        <div class="mb-3">
            <label for="" class="">Tên Câu hỏi</label>
            <input type="text" formControlName="Text" class="form-control">
        </div>
        <input type="hidden" formControlName="AnswerId" [ngModel]="selectIdAnswer">
    </form>
    <div class="mb-3 row ">
        <label for="" class="">Đáp án
            <button class="btn btn-success ml-3" (click)="addFormQuestion()">Thêm đáp án</button>
        </label>
        <div class="mb-3">
            <ng-container *ngFor="let item of formhtml;index as i">

                <div class="input-group mb-3">
                    <div class="form-group">
                        <div class="form-control">
                            <input type="radio" (change)="selectAnswer(i+1)"
                                aria-label="Checkbox for following text input" name="radio">
                        </div>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="Text[i]" aria-label="Text input with checkbox">
                </div>
            </ng-container>
        </div>
    </div>
    <div class="mb-3">
        <button [disabled]="formQues.invalid" (click)="AddQues()" class="btn btn-primary">Thêm</button>
    </div>
</div>