<a [routerLink]="'add'" class="btn btn-primary" routerLinkActive="router-link-active">Thêm</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col-8">Tên câu hỏi</th>
            <th scope="col">Đáp án đúng</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of question;index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{item.Text}}</td>
            <div *ngFor="let items of item.Answers">
                <td *ngIf="items.Id == item.AnswerId">{{items.Text}}</td>
            </div>
            <td><a class="btn btn-primary" [routerLink]="'edit/'+item.id" routerLinkActive="router-link-active">Cập
                    nhật</a>
                <button (click)="remove(item.id)" class="btn btn-danger">Xóa</button>
            </td>
        </tr>

    </tbody>
</table>