<div class="col-6 row-sm-3">
    <h4>Thêm câu hỏi</h4>
    <form [formGroup]="formQues">
        <div class="mb-3">
            <label for="" class="">Tên Câu hỏi</label>
            <input type="text" formControlName="Text" class="form-control">
        </div>
        <input type="hidden" formControlName="AnswerId" [ngModel]="selectIdAnswer">
    </form>
    <div class="mb-3 row ">
        <div class="mb-3">
            <ng-container *ngFor="let value of getAnswer; index as j">
                <div class="input-group mb-3">
                    <div class="form-group">
                        <div class="form-control">
                            <input type="radio" [checked]="value.id == correct" (change)="selectAnswer(value.id)"
                                aria-label="Checkbox for following text input" name="radio">
                        </div>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="value.Text"
                        aria-label="Text input with checkbox">
                    <input type="hidden" class="form-control" (change)="selectAnswer(value.id)"
                        aria-label="Text input with checkbox">
                </div>
            </ng-container>
        </div>
    </div>
    <div class="mb-3">
        <button [disabled]="formQues.invalid" (click)="editQuestion()" class="btn btn-primary">Cập nhật</button>
    </div>
</div>